@import "angular6/app/partials/_variables.scss";
$header-height: 50px;

.header-space {
  height: $header-height;
}

header {
  padding: 5px 40px;
  font-size: 20px;
  background: white;
  border-bottom: 2px solid $primary-color;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 101;
  height: $header-height;
}

#main-logo {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo {
  float: left;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  span:first-of-type {
    color: $secondary-color;
  }
  span:last-of-type {
    color: $primary-color;
  }
}

a {
  font-size: 14px;
  margin-left: 20px;
  color: $primary-color;
}

.search-field {
  width: 100%;
  margin: 0;
  padding: 12px 30px;
  font-size: 13px;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 1px #c7c7c7;
  border: 1px solid #c7c7c7;
  &:focus {
    box-shadow: 0 1px 1px #c7c7c7;
    outline: 0;
  }
}

.search-results {
  position: absolute;
  z-index: 1000;
  display: block;
  border: 1px solid #c7c7c7;
  left: 0;
  right: 0;
  top: 30px;
  padding: 0;
  p {
    background: white;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    padding-left: 30px;
    color: black;
    span {
      display: block;
      padding: 5px 0;
    }
    &:hover,
    &:focus {
      background: rgb(226, 226, 226);
      font-weight: bold;
    }
    &.all-products {
      background: $secondary-color;
      color: white;
      font-weight: normal;
    }
  }
}

.searchbox {
  width: 200px;
  float: right;
  position: relative;
  .fa-search {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 13px;
    color: $primary-color;
  }
  .fa-times {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 13px;
    color: $secondary-color;
  }
}

.invisible-area {
    background: transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}
