<!-- Space for fixed header -->
<div class="header-space"></div>

<!-- HEADER -->
<header class="header">

    <!-- 1. LOGO  -->
    <a class="logo" routerLink="/">
        <span *ngIf="!global.smallScreen()">Electro</span>
        <span *ngIf="!global.smallScreen()">Vision</span>
        <span *ngIf="global.smallScreen()">E</span>
        <span *ngIf="global.smallScreen()">V</span>
    </a>

    <!-- 2. SEARCH -->
    <div class="searchbox">
        <!-- Search icons -->
        <i class="fa fa-search" (click)="showResults()"></i>
        <i class="fa fa-times" (click)="clearSearch(); hideResults()"></i>
        <!-- Search field -->
        <input
            class="search-field"
            [(ngModel)]="searchInput"
            placeholder="Pretraga proizvoda..."
            #search
            (keyup.enter)="goToProducts()"
            (keyup.escape)="hideResults()"
            (keyup.backspace)="showResults()"
            (keypress)="showResults()"
            (focus)="showResults()">
        <!-- Search results -->
        <div class="search-results" *ngIf="showResult" >
            <p  *ngFor="let result of resultsSorted | filter: searchInput; let i = index"
                (click)="goToProduct(result.slug); hideResults()">
                <span >
                    {{result.name}}
                </span>
            </p>
            <p class="all-products"  routerLink="/lista-proizvoda">
                <span>
                    Vidi sve proizvode...
                </span>
            </p>
        </div>
    </div>

</header>

<div class="invisible-area" *ngIf="showResult" (click)="showResult = false; searchInput=''"></div>
