<!-- Space for fixed header -->
<div class="header-space"></div>

<!-- HEADER -->
<header class="header">

    <!-- 1. Logo -->
    <a class="logo" routerLink="/">
        <span>Electro</span>
        <span>Vision</span>
    </a>

    <!-- 2. Search bar -->
    <div class="searchbox">
        <i class="fa fa-search" (click)="showResults()"></i>
        <i class="fa fa-times" (click)="clearSearch(); hideResults()"></i>
        <input class="search-field" [(ngModel)]="searchInput" placeholder="Pretraga..." #search (keyup.enter)="goToProducts(search.value)"
            (keyup.escape)="hideResults()" (keyup.backspace)="showResults()" (keypress)="showResults()" (focus)="showResults()">
        <div class="search-results" *ngIf="this.showResult">
            <p *ngFor="let result of resultsSorted" (click)="navigator(result.slug); hideResults()">
                <span *ngIf="i < 10">
                    {{result.name}}
                </span>
            </p>
            <p class="all-products" (click)="goToProducts(search.value)">
                <span>
                    Vidi sve proizvode...
                </span>
            </p>
        </div>
    </div>

</header>
