<!-- Space for fixed header -->
<div class="header-space"></div>

<!-- HEADER -->
<header class="header">

    <!-- 1. LOGO  -->
    <a class="logo" routerLink="/">
        <span *ngIf=" windowSize !== 'small' ">Electro</span>
        <span *ngIf=" windowSize !== 'small' ">Vision</span>
        <span *ngIf=" windowSize === 'small' ">E</span>
        <span *ngIf=" windowSize === 'small' ">V</span>
    </a>

    <!-- 2. SEARCH -->
    <form class="searchbox">
        <mat-form-field>
            <input
                type="text"
                placeholder="Pretraga"
                matInput
                [formControl]="searchInput"
                (keyup.enter)="goToProduct(searchInput.value)"
                [matAutocomplete]="auto">
            <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete">
                <mat-option
                    *ngFor="let option of filteredOptions | async"
                    (click)="goToProduct(option)"
                    [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

</header>
