<!-- background -->
<div class="product-background">
</div>

<!-- Navigation Menu -->
<px-navigation-menu></px-navigation-menu>


<!-- Stepper -->
<div class="step-buttons">
    <button 
        mat-raised-button 
        [color]=" currentLevel === 1 ? 'primary' : '' "
        (click)="OnLevelChange(100);">
        1. Kategorije
    </button>
    <button 
        mat-raised-button 
        [disabled]="currentLevel < 2 "
        (click)="OnLevelChange(-1);"
        [color]=" currentLevel === 2 ? 'primary' : '' ">
        2. Grupe proizvoda
    </button>
    <button 
        mat-raised-button 
        [disabled]="currentLevel < 3 "
        [color]=" currentLevel === 3 ? 'primary' : '' ">
        3. Proizvodi
    </button>
</div>

<!-- Toolbar -->
<mat-toolbar
    *ngIf="selectedItemName">
    {{selectedItemName}}
    <!-- Back button -->
    <button
        *ngIf="currentLevel > 1"
        class="back-button"
        mat-raised-button
        color="warn"
        (click)="OnLevelChange(-1);">
        <mat-icon>arrow_back_ios</mat-icon>
        Vrati se nazad
    </button>
</mat-toolbar>


    <!-- Category Dropdown -->
<mat-form-field *ngIf="currentLevel === 2 ">
    <mat-select placeholder="Promeni kategoriju">
        <mat-option  [value]="category._id"
        *ngFor="let category of categoryList"
        (click)="OnLevelChange(0, category)">
            {{ category.name }}
        </mat-option>
    </mat-select>
</mat-form-field>

<!-- Cards -->

<mat-card
    (click)="OnLevelChange(1, item);"
    *ngFor="let item of currentList">
    <mat-card-title>  {{ item.name }} </mat-card-title>
    <img mat-card-image [src]="item.image">
    <mat-card-actions>
        <button mat-raised-button color="warn">Izaberi</button>
    </mat-card-actions>
</mat-card>