<!-- background -->
<div class="product-background">
</div>

<!-- Navigation Menu -->
<px-navigation-menu></px-navigation-menu>

<!-- Headline -->

<h1 id="headline"> {{headline}} </h1>

<!-- Content -->
<div
    id="items"
    class="invisible-onload"
    [ngClass]="{'fade-in' : isLoaded}">
    <div
        class="item"
        *ngFor="let item of currentList"
        (click)="onItemClick(item._id, item.slug)">
        <h4>{{ item.name }}</h4>
        <img [src]="item.image" >
    </div>
</div>
