@import "angular6/app/partials/_variables.scss";

#headline {
    font-size: 24px;
    color: black;
    padding-top: 50px;
    padding-left: 50px;
}

#items {
    padding: 0;
}


.step-buttons {
    margin: 20px;
    button {
        margin-right: 5px;
    }
}

.item {
    border: 1px solid black;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    h4 {
        margin: 0;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        z-index: 10;
        text-align: center;
        color: white;
        padding: 5px 20px;
        font-size: 16px;
    }
    &:hover h4 {
        background: rgba(0, 0, 0, 0.9);
    }
}

.back-button {
    margin: 20px;
}

mat-card {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 15px;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
}

mat-card-title {
    background: #f8f8f8;
}

.image-wrapper {
    height: 150px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .mat-card-image {
        max-width: 200px;
        max-height: 130px;
    }
}

mat-card-actions {
    float: right;
}

mat-form-field {
    margin-left: 10px;
    display: block;
    width: 200px;
}

