@import "angular6/app/partials/_variables.scss";

/* Background Top */
.brand-background {
    background: url("../../../assets/baner/banner-page.png") no-repeat top center fixed;
    background-size: cover;
    line-height: 170px;
    text-align: center;
    vertical-align: middle;
    h1 {
        color: white;
        font-style: normal;
        line-height: 170px;
        font-size: 45px;    
        margin: 0;
    }
}

/* Product list */
.brand-products {
    text-align: center;
    .product-single {
        text-align: center;
        width: 200px;
        height: 200px;
        position: relative;
        display: inline-block;
        margin: 5px 20px;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid #e4e4e4;
        color: $dark-color;
        h3 {
            font-size: 15px;
            padding: 5px 15px;
            color: white;
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
            background: rgba(140, 140, 140, 0.5);
            right: 0;
            z-index: 10;
        }
        &:hover {
            box-shadow: 1px 1px 20px 1px lightgray;
            transform: scale(1.03);
            transition: 0.3s;
            h3 {
                background: rgba(140, 140, 140, 0.9);
            }
            img.corner-logo {
                opacity: 0;
                transition: 0.3s;
            }
        }
        img.corner-logo {
            opacity: 1;
            position: absolute;
            top: 5px;
            right: 5px;
            max-width: 100px;
            max-height: 100px;
            box-shadow: 1px 1px 20px 1px grey;
            z-index: 1000;
            background: white;
            padding: 5px 3px 3px 3px;
        }
    }
}

/* No results */

.no-results {
    color: rgb(150, 14, 14);
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    background: rgb(244, 244, 244);
    font-size: 20px;
}
