@import "angular6/app/partials/_variables.scss";

.brand-info {
    color: gray;
    padding: 10px 20px;
    h1 {
        padding: 10px;
        border-bottom: 2px solid $primary-color;
    }
    h4 {
        font-style: italic;
        padding: 10px;
    }
}

.brand-background {
    background: url("../../../assets/baner/banner-page.png") no-repeat top center fixed;
    background-size: cover;
    height: 200px;
}

.brand-image {
    img {
        width: 100%;
        height: auto;
        border: 2px solid lightgray;
        padding: 5px;
        margin-left: 20px;
    }
}

hr {
    margin:0;
    border-top: 15px solid rgb(216, 216, 216);
}
