<div id="brand-page" style="position: relative;">

    <!-- Background -->
    <div class="brand-background">
        <img src="{{brand.image}}">
    </div>

    <!-- Brand products -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="brand-info col-sm-12 col-md-10">
            <div class="brand-products">
                <br>
                <div
                    *ngFor="let prod of productList; let i = index"
                    class="product-single"
                    (click)="goToProduct(prod.slug)">
                    <h3 [innerHtml]="prod.name"></h3>
                    <img [src]="prod.image">
                </div>
            </div>
        </div>
    </div>

    <br>

    <!-- Brand roller -->
    <px-brand-roller></px-brand-roller>

</div>
