@import "angular6/app/partials/_variables.scss";

h1#dashboard-title {
    text-align: center;
    margin: 10px 20px;
    color: $primary-color;
    padding: 10px 20px;
    border-bottom: 2px solid $primary-color;
}

.preview-panel {
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    &:hover {
        background: rgb(249, 249, 249);
    }
}

table {
    width: 100%;
    background: transparent;
    td {
        text-align: left;
    }
    th {
        text-align: left;
        color: #dc3545;
        font-size: 16px;
        b {
          background: #dc3545;
          font-weight: normal;
          color: white;
          padding: 5px;
          border-radius: 10%;
          font-size: 12px;
          text-align: center;
          min-width: 30px;
          margin-left: -10px;
          display: inline-block;
        }
    }
}

