/* DEPENDENCIES */

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

@import "app/partials/_variables.scss";

/* MAIN SETTINGS */

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden
}

a {
  color: white;
  &:hover {
    text-decoration: underline;
    color: white;
  }
}

button,
.button {
  cursor: pointer;
  &[disabled] {
    cursor: not-allowed;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

input,
select {
  margin: 10px;
  padding: 2px 5px 2px 20px;
  width: 235px;
  height: 30px;
}


.inline-element {
  display: inline-block;
  width: 200px;
}

/* Common classes */

.mr5 {
  margin-right: 5px
}

.ml5 {
  margin-left: 5px
}

.body-content {
  min-height: calc(100vh - 91px);
}

/* ADMIN  */

nav#admin-navigator {
  margin: 5px auto;
  a {
    background: $primary-color;
    color: white;
    border-radius: 5px;
    margin: 10px 1%;
    width: 200px;
    max-width: 22%;
    padding: 10px 0;
    &:hover, &:focus {
        background: lighten($primary-color, 10);
        box-shadow:0 0 0 2px  $primary-color;
    }
  }
}

h2.page-title {
  text-align: center;
  color: rgb(41, 63, 126);
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
  margin: 15px 30px;
  padding: 15px;
  font-weight: bold;
}

.filter-wrapper {
  width: calc(100% - 60px);
  margin: 5px 30px;
  text-align: left;
  select {
    background: #1f7144;
    color: white;
  }
  i {
    margin-right: 10px;
  }
}

.table-wrapper {
  width: calc(100vw - 60px);
  overflow-x: auto;
  margin: 5px 30px;
}

table.table {
  width: 100%;
  margin: 0;
  thead th {
    text-align: left;
    padding: 5px 20px;
    background: rgb(43, 84, 138);
    color: white;
    vertical-align: middle;
    border: 1px solid white;
    height: 50px;
    font-weight: bold;
  }
  tbody tr {
    &:nth-child(odd) {
      background: rgb(231, 232, 233);
    }
    &:nth-child(even) {
      background: rgb(233, 238, 241);
    }
    td {
      text-align: left;
      padding: 5px 20px;
      vertical-align: middle;
      border: 1px solid white;
      &.counter-field {
        width: 60px;
        text-align: left;
      }
      &.button-field {
        width: 100px;
        text-align: center;
      }
      strong {
        line-height: 42px;
      }
    }
  }
  .btn-plus {
      display: block;
      padding: 5px 15px;
      font-size: 13px;
      margin: 0 auto;
      width: 50px;
      padding: 5px 10px;
  }
  tfoot tr td {
    text-align: right;
    padding: 5px 20px;
    vertical-align: middle;
    border: 1px solid white;
    background: rgb(101, 130, 167);
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
}

/* Dialog */
div.dialog-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.651);
}

form.form-dialog {
  text-align: center;
  width: 500px;
  max-width: 100%;
  margin: 50px auto 0;
  box-shadow: 2px 2px 20px 2px gray;
  border-radius: 7px;
  background: white;
  border: 1px solid gray;
  label {
    font-weight: bold;
    text-align: right;
    width: 100%;
    padding-right: 20px;
    margin-bottom: 0;
    input, select, .input {
        width: 300px;
    }
    div.image-wrapper {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      height: 35px;
      margin: 10px;
      height: 30px;
      width: 300px;
      span {
        display: inline-block;
        max-width: 300px;
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 4px 16px;
        color: white;
        cursor: pointer;
        border: 1px solid darkslategray;
        background: darkslategray;
        border-radius: 3px;
        &:hover {
          border: 1px solid  rgb(56, 94, 94);
          background:  rgb(56, 94, 94);
        }
      }
    }
  }
}

.dialog-footer {
  padding: 10px;
  background: #e6e6e6;
  height: 60px;
  border-top: 1px solid #daddde;
  border-radius: 0 0 5px 5px;
  button {
    margin: 0 10px;
    width: 120px;
    i {
        margin-right: 5px;
    }
  }
}

.dialog-header {
  padding: 10px;
  background: #31708f;
  color: white;
  border-radius: 5px 5px 0 0;
  height: 50px;
  .dialog-header-title {
    font-size: 20px;
    user-select: none;
    font-weight: bold;
  }
  button.cancel-x {
    float: right;
    padding: 0;
    color: white;
    &:hover {
      color: rgb(204, 212, 174);
    }
  }
}
