<!-- Slider Banner -->
<div id="slider-wrapper" class="row">
  <div class="col-sm-12 slider">
    <carousel>
      <slide>
        <div class="banner first"></div>
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <div class="banner second"></div>
        <div class="carousel-caption d-none d-md-block">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </slide>
      <slide>
        <div class="banner third"></div>
        <div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>

<!-- Primery menu -->
<div id="primary-menu-wrapper" class="row">
  <div class="col-sm-12 primary-menu">
    <ul>
      <li> Početna </li>
      <li> O nama </li>
      <li> Proizvodi </li>
      <li> Cenovnik </li>
      <li> Servis </li>
      <li> Galerija </li>
      <li> Kontakt </li>
    </ul>
  </div>
</div>

<div class="main-section row">

  <!-- CATEGORY -->
  <div class="col-sm-12 col-md-6 col-lg-3 categories">
    <ul class="category list">
      <li>Kategorije</li>
      <li>TEST1</li>
      <li>TEST1</li>
      <li>TEST1</li>
    </ul>
  </div>

  <!-- TOP PRODUCTS -->
  <div class="col-sm-12 col-md-6 col-lg-6 content">
    <div class="top-product-wrapper">
      <h4>HIT PONUDA</h4>
      <div class="top-product-box row">
        <div class="col-sm-6 col-md-4 image">
          <img src=".\assets\default_images\default-product.jpg" alt="Nema slike">
        </div>
        <div class="col-sm-6 col-md-8">
          <h5>Proizvod</h5>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing..."</p>
          <button class="btn btn-info">Idi na proizvod</button>
          <button class="btn btn-warning">Kamere</button>
          <button class="btn btn-danger">Nadzor</button>
        </div>
      </div>
      <div class="top-product-box row">
        <div class="col-sm-6 col-md-4 image">
          <img src=".\assets\default_images\default-product.jpg" alt="Nema slike">
        </div>
        <div class="col-sm-6 col-md-8">
          <h5>Proizvod</h5>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing..."</p>
          <button class="btn btn-info">Idi na proizvod</button>
          <button class="btn btn-warning">Kamere</button>
          <button class="btn btn-danger">Nadzor</button>
        </div>
      </div>
      <div class="top-product-box row">
        <div class="col-sm-6 col-md-4 image">
          <img src=".\assets\default_images\default-product.jpg" alt="Nema slike">
        </div>
        <div class="col-sm-6 col-md-8">
          <h5>Proizvod</h5>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing..."</p>
          <button class="btn btn-info">Idi na proizvod</button>
          <button class="btn btn-warning">Kamere</button>
          <button class="btn btn-danger">Nadzor</button>
        </div>
      </div>
    </div>
  </div>

  <!-- BRANDS -->
  <div class="col-sm-12 col-md-6 col-lg-3 brands">
    <ul class="brand list">
      <li>Brendovi</li>
      <!-- <li *ngFor="let singleBrand of brandList; let i = index" (click)="goToBrand(singleBrand.slug)">{{singleBrand.name}}</li> -->
    </ul>
  </div>
</div>

<!--  FOOTER -->
<footer>
  © 2018 ElectroVision. Developed by Pixelarium
</footer>
