<div id="homepage">

    <!-- Slider Banner -->
    <mat-grid-list cols="1" class="slider">
        <!-- Social icons -->
        <div class="header-icons">
            <a class="facebook" href="https://www.facebook.com" target="_blank">
                <img src="assets\icons\facebook.png" title="ElectroVision na Facebooku">
            </a>
            <a class="instagram"  href="https://instagram.com" target="_blank">
                <img src="assets\icons\instagram.png" title="ElectroVision na Instragramu">
            </a>
            <a class="youtube"  href="https://youtube.com" target="_blank">
                <img src="assets\icons\youtube.png" title="ElectroVision na Youtube">
            </a>
            <a class="kp"  href="https://www.kupujemprodajem.com/" target="_blank">
                <img src="assets\icons\kp.png" title="ElectroVision na KupujemProdajem">
            </a>
        </div>
        <!-- Carousel -->
        <div class="px-carousel" >
            <ng-container> <!-- first banner -->
                    <div class="banner"  [@leaveAnimation] *ngIf="firstSlideOn"
                    style="position: absolute; background:url(./assets/baner/baner3.jpg) no-repeat center center/cover" >
                        <h3>{{banners[0].title}}</h3>
                        <p>{{banners[0].content}}</p>
                    </div>
            </ng-container> <!-- Rolling banners -->
            <ng-container *ngFor="let banner of banners; let i = index">
                    <div class="banner" [@enterAnimation] style="position: absolute;"
                        *ngIf="currentSlider === i"
                        [style.backgroundImage]="'url('+ banner.imageUrl +')'">
                        <h3>{{banner.title}}</h3>
                        <p>{{banner.content}}</p>
                    </div>
            </ng-container>
        </div>
    </mat-grid-list>

    <!-- Navigation Menu -->
    <px-navigation-menu></px-navigation-menu>

    <!-- Brand roller -->
    <px-brand-roller></px-brand-roller>

   
    <!-- Main area -->
    <div class="main-section row" >
        <div class="col-lg-1 ">
        </div>

        <!-- Top products -->
        <div class="col-sm-12 col-md-8 col-lg-8 content">
            <div class="top-product-wrapper">
                <!-- headline -->
                <h4 class="breaking-news">
                    <i class="fa fa-map-marker up-down mr5 ml5"></i>
                    Preporučujemo za Vas
                </h4>
                <!-- list -->
                <div class="row">
                    <ng-container *ngFor="let prod of productList | slice:0:3; let i = index ">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 top-product-box"
                                (click)="goToProduct(prod.slug)"  *ngIf="prod.vip">
                            <div style="margin-bottom: 10px;">
                                <div class="col-sm-12 image">
                                    <img *ngIf="prod.image" src="{{prod.image}}">
                                    <img *ngIf="!prod.image" src=".\assets\default_images\default-product.jpg">
                                </div>
                                <div class="col-sm-12">
                                    <h5> {{prod.name}} </h5>
                                    <h6> Proizvođač: {{prod.brand.name}} </h6>
                                    <h6> Potkategorija: {{prod.group.name}} </h6>
                                    <h6> Kategorija: {{prod.category.name}} </h6>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>

        <!-- Side Menu -->
        <div class="col-sm-12 col-md-4 col-lg-3 sidebar">
            <!-- categories -->
            <ul class="list">
                <li class="headline" (click)="goToCategory(cat.slug)">Kategorije</li>
                <li class="category"
                    *ngFor="let cat of categoryList; let i = index"
                    (click)="goToCategory(cat._id)">
                    <span [ngClass]=" { 'small-text-category': windowSize === 'medium' }">
                        {{cat.name}}
                    </span>
                </li>
            </ul>
        </div>

    </div>


</div>
