@import "angular6/px-material-theme.scss";


h2 {
    text-align: left;
    margin: 20px;
    padding-bottom: 5px;
    border-bottom: 5px solid $px-material-accent;
}

.gallery-wrapper {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.image-frame {
    border: 2px solid gray;
    box-shadow: 2px 2px 20px 2px gray;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 400px;
    max-width: 100%;
    margin: 20px;
    vertical-align: top;
    &:hover {
        transform: scale(1.05) ;
        transition: transform 0.7s ease-in-out;
    }
}

img.gallery-image {
    max-width: 100%;
    max-height: 200px;
    cursor: pointer;
    &:hover {
        filter: grayscale(0.5);
        transition: filter 0.7s ease-in-out;
    }
}

div.gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    padding: 50px;
    margin: 0;
    > div {
        text-align: center;
        font-size: 30px;
        text-align: center;
        color: black;
        &.selected-image {
            width: 80%;
            img {
                max-width: 90%;
            }
        }
        &.left {
            width: 10%;
            text-align: right;
        }
        &.right {
            width: 10%;
            text-align: left;
        }
    }
}

mat-icon.arrow {
    font-size: 60px;
    cursor: pointer;
    user-select: none;
    color: white;
    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
        color: rgb(228, 228, 228);
    }
}

