
<!-- Navigation -->
<px-navigation-menu></px-navigation-menu>

<!-- Tolbar -->
<mat-toolbar color="accent">
    <mat-toolbar-row>
      <span class="toolbar-title">Galerija slika</span>
      <!-- <span class="toolbar-spacer"></span> -->
      <!-- <mat-icon class="toolbar-icon">favorite</mat-icon>
      <mat-icon class="toolbar-icon">delete</mat-icon> -->
    </mat-toolbar-row>
  </mat-toolbar>

<!-- Gallery -->
<div class="gallery-wrapper">
    <div
        class="image-frame"
        *ngFor="let image of imagesArray; let i = index"
        (click)="onSelectImage(i)">
        <img [src]="image.imagePath" class="gallery-image" >
    </div>

</div>

<!-- Modal -->
<div class="gallery-modal" *ngIf="isGalleryModalOpen" (click)="OnCloseGallery()">
    <!-- Previous -->
    <div class="left">
        <mat-icon class="arrow" (click)="onPreviousImage($event)">chevron_left</mat-icon>
    </div>
    <!-- Image -->
    <div class="selected-image">
        <img  [src]="selectedImagePath" >
    </div>
    <!-- Next -->
    <div class="right">
        <mat-icon class="arrow" (click)="onNextImage($event)">chevron_right</mat-icon>
    </div>
</div>
