@import "src/px-material-theme.scss";
$header-height: 100px;

div.header-space {
    height: $header-height;
}

header {
    padding: 5px 40px;
    font-size: 20px;
    background: white;
    border-bottom: 2px solid $px-material-accent;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 101;
    height: $header-height;
}

a.logo {
    float: left;
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    margin-left: 20px;
    span:first-of-type { color: $px-material-dark; }
    span:last-of-type  { color: $px-material-accent; }
}

form.searchbox {
    float: right;
    position: relative;
}
