<!-- Navigation -->
<px-navigation-menu></px-navigation-menu>

<!-- Tolbar -->
<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span class="toolbar-title">Galerija slika</span>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Gallery -->

<div class="galleries" *ngFor="let gallery of galleryList; let gi = index;">
    <h4 class="gallery-title"> {{ gallery }} </h4>
    <div class="gallery-wrapper" >
        <ng-container *ngFor="let image of imagesArray; let ii = index" >
            <div *ngIf="image.gallery === gallery"
                class="image-frame"
                (click)="onSelectImage(ii, gi)">
                <img
                    [src]="image.imagePath"
                    [alt]="image.gallery"
                    class="gallery-image">
            </div>
        </ng-container>
    </div>
</div>


<!-- Modal -->
<div class="gallery-modal" *ngIf="isGalleryModalOpen" (click)="OnCloseGallery()">
    <!-- Previous -->
    <div class="left">
        <mat-icon class="arrow" (click)="onPreviousImage($event)">chevron_left</mat-icon>
    </div>
    <!-- Image -->
    <div class="selected-image">
        <img [src]="selectedImagePath">
    </div>
    <!-- Next -->
    <div class="right">
        <mat-icon class="arrow" (click)="onNextImage($event)">chevron_right</mat-icon>
    </div>
</div>
