@import "src/px-material-theme.scss";

.gallery-title {
    max-width: 90vw;
    margin-left: 5vw;
    margin-top: 60px;
    color: $px-material-dark;
    border-bottom: 2px solid $px-material-primary;
    text-transform: uppercase;
}

.gallery-wrapper {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto;
    max-width: 90vw;
    margin-left: 5vw;
}

.image-frame {
    border: 2px solid gray;
    box-shadow: 2px 2px 20px 2px gray;
    padding: 0;
    height: 100px;
    margin: 10px;
}

img.gallery-image {
    height: 100px;
    cursor: pointer;
    &:hover {
        filter: grayscale(0.5);
        transition: filter 0.7s ease-in-out;
    }
}

div.gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    padding: 50px;
    margin: 0;
    > div {
        text-align: center;
        font-size: 30px;
        text-align: center;
        color: black;
        &.selected-image {
            width: 80%;
            img {
                max-width: 90%;
            }
        }
        &.left {
            width: 10%;
            text-align: right;
        }
        &.right {
            width: 10%;
            text-align: left;
        }
    }
}

mat-icon.arrow {
    font-size: 60px;
    cursor: pointer;
    user-select: none;
    color: white;
    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
        color: rgb(228, 228, 228);
    }
}

