<div class="navigation" style="overflow: hidden;     white-space: nowrap;">

    <!-- Menu items -->
    <ng-container *ngFor="let item of navItems">
        <button
            class="nav-button"
            *ngIf="(item.id * 150 + 50 + 20) < actualWidth"
            mat-button
            [routerLink]="item.link"
            (pxMiddleClick)="openNewTab(item.link)"
            routerLinkActive="nav-active">
            <mat-icon >{{item.icon}}</mat-icon>
            {{item.name}}
        </button>
    </ng-container>

    <!-- Submenu button -->
    <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="menu"
        *ngIf="actualWidth <= (navItems.length * 150 + 50 + 20)"
        style="color: white">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Submenu items -->
    <mat-menu #menu="matMenu" class="menu">
        <ng-container *ngFor="let item of navItems">
            <button
                *ngIf="(item.id * 150 + 50 + 20) >= actualWidth"
                mat-menu-item
                [routerLink]="item.link"
                routerLinkActive="nav-active" >
                <mat-icon>{{item.icon}}</mat-icon>
                <span>{{item.name}}</span>
            </button>
        </ng-container>
    </mat-menu>
</div>
