@import "src/px-material-theme.scss";

.navigation {
    background: rgb(43, 43, 43);
    padding-left: 5%;
}

button.nav-button {
    color: white;
    font-size: 18px;
    padding: 5px 20px;
    &:hover {
        color: #ff8d8d;
    }
    &.nav-active {
        color:  #ff5656;
    }
}

mat-icon {
    margin-right: 5px;
    font-size: 22px;
}
