@import '~@angular/material/theming';

@include mat-core();

$px-primary: mat-palette($mat-indigo, 700, 800, 900);
$px-accent: mat-palette($mat-red, 700, 800, 900);
$px-warn: mat-palette($mat-orange, 900, 800, 700);

$px-material-theme: mat-light-theme($px-primary, $px-accent, $px-warn);

@include angular-material-theme($px-material-theme);

$px-material-primary:   #303f9f;
$px-material-accent:    #d32f2f;
$px-material-warn:      #E65100;
$px-material-dark:      #212121;
$px-material-light:     #E0E0E0;
