@import "angular6/app/partials/_variables.scss";

nav {
    position: fixed;
    background: $primary-color;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
    margin: 0;
    padding: 10px 0;
    border: 2px solid $primary-color;
    .admin-menu {
        color: white;
        margin: 10px 0;
        padding: 0 10px;
        transition: width 0.1s ease-in-out;
        i {
            cursor: pointer;
            display: inline-block;
            text-align: right;
            width: 30px;
            padding-right: 10px;
            &:hover {
                color: darkgray;
            }
        }
    }
    a {
        display: block;
        margin: 0;
        padding: 10px;
        text-align: left;
        border-radius: 0;
        text-decoration: none;
        outline: none;
        &:focus {
            outline: none;
        }
        &.active {
            outline: none;
            background: white;
            color: $primary-color;
            font-weight: bold;
        }
        &:hover {
            font-weight: bold;
            text-decoration: none;
        }
        i {
            display: inline-block;
            width: 30px;
        }
    }
    .home-link {
        position: fixed;
        bottom: 0;
    }
}

.route-wrapper {
    transition: margin 0.1s ease-in-out;
}

/* ADMIN PAGES  */

h2.page-title {
    text-align: center;
    color: rgb(41, 63, 126);
    margin: 15px 30px;
    padding: 15px;
    font-weight: bold;
}

.filter-wrapper {
    width: calc(100% - 60px);
    margin: 5px 30px;
    text-align: left;
    select {
        background: $third-color;
        color: white;
    }
    i {
        margin-right: 10px;
    }
}


/* Dialog */
div.dialog-wrapper.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.651);
}

form.form-dialog {
    text-align: center;
    width: 500px;
    max-width: 100%;
    margin: 50px auto 0;
    box-shadow: 2px 2px 20px 2px gray;
    border-radius: 7px;
    background: white;
    border: 1px solid gray;
    label {
        font-weight: bold;
        text-align: right;
        width: 100%;
        padding-right: 20px;
        margin-bottom: 0;
        &.image-label {
            text-align: center;
            padding-right: 0;
        }
        input,
        select,
        .input {
            width: 300px;
        }
    }
    &.image-dialog {
        img {
            width: 250px;
            height: auto;
            border: 1px solid lightgray;
            padding: 10px;
            &:hover {
                box-shadow: 1px 1px 20px 1px lightgrey;
            }
        }
        .new-image-title {
            background: green;
            color: white;
            font-weight: normal;
            padding: 5px 20px;
            display: table;
            margin: 0 auto;
            margin-top: 5px;
            min-width: 200px;
            &:hover { background: darken(green, 10); cursor: pointer; }
            span span {
                font-size: 14px;
                color: lightgray;
            }
        }
        label {
            text-align: center;
        }
    }
}

.dialog-footer {
    padding: 10px;
    background: #e6e6e6;
    height: 60px;
    border-top: 1px solid #daddde;
    border-radius: 0 0 5px 5px;
    button {
        margin: 0 10px;
        width: 120px;
        i {
            margin-right: 5px;
        }
    }
}

.dialog-header {
    padding: 10px;
    background: #31708f;
    color: white;
    border-radius: 5px 5px 0 0;
    height: 50px;
    .dialog-header-title {
        font-size: 20px;
        user-select: none;
        font-weight: bold;
    }
    button.cancel-x {
        float: right;
        padding: 0;
        color: white;
        &:hover {
            color: rgb(204, 212, 174);
        }
    }
}

/* Table */

.table-wrapper {
    overflow: auto;
}

table.full-screen {
    width: calc(100% - 50px);
    min-width: 800px;
    margin: 20px 20px;
}
.add-button {
    margin-left: 10px !important;
}

.select-filter {
    font-size: 14px;
    float: right;
}

mat-form-field {
    margin: 0 20px;
    width: 100px;
}

mat-toolbar {
    height: auto !important;
    padding: 5px  !important;
}
