<!-- Page title  -->

<div class=" col-sm-12">
    <mat-toolbar>
        Lista proizvoda

        <button class="add-button" mat-raised-button color="primary" (click)="openDialog(false)">
            <mat-icon>add</mat-icon>
        </button>

        <!-- Category filter -->
        <form class="select-filter">
            <mat-form-field>
                <mat-select #categoryFilter placeholder="Kategorije">
                    <mat-option (click)="categoryFilter.value = '';
                    getProducts(categoryFilter.value, groupFilter.value, brandFilter.value)">
                        Sve kategorije
                    </mat-option>
                    <mat-option *ngFor="let cat of categoryList" [value]="cat._id" (click)="groupFilter.value = '';
                            getProducts(categoryFilter.value, groupFilter.value, brandFilter.value)">
                        {{cat.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Group filter -->
            <mat-form-field>
                <mat-select #groupFilter placeholder="Grupe">
                    <mat-option (click)="groupFilter.value = '';
                    getProducts(categoryFilter.value, groupFilter.value, brandFilter.value)">
                        Sve grupe
                    </mat-option>
                    <mat-option *ngFor="let group of groupList" [value]="group._id" (click)="categoryFilter.value = '';
                            getProducts(categoryFilter.value, groupFilter.value, brandFilter.value)">
                        {{group.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Brand filter -->
            <mat-form-field>
                <mat-select #brandFilter placeholder="Brendovi">
                    <mat-option (click)="brandFilter.value = '';
                    getProducts(categoryFilter.value, groupFilter.value, brandFilter.value)">
                        Svi brendovi
                    </mat-option>
                    <mat-option *ngFor="let brand of brandList" [value]="brand._id" (click)=" getProducts(categoryFilter.value, groupFilter.value, brandFilter.value)">
                        {{brand.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-toolbar>
</div>

<!-- Product  List -->
<div class="table-wrapper">

    <table mat-table [dataSource]="productList" class="full-screen">
        <!-- Position Column Setup -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>
                {{productList.length}}
            </th>
            <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
        </ng-container>

        <!-- Name Column Setup -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Naziv </th>
            <td mat-cell *matCellDef="let item"> {{ item.name }} </td>
        </ng-container>

        <!-- Slug Column Setup -->
        <ng-container matColumnDef="slug">
            <th mat-header-cell *matHeaderCellDef> Slug </th>
            <td mat-cell *matCellDef="let item"> {{ item.slug }} </td>
        </ng-container>

        <!-- Description Column Setup -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Opis </th>
            <td mat-cell *matCellDef="let item"> {{ item.description }} </td>
        </ng-container>

        <!-- Category Column Setup -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Kategorija </th>
            <td mat-cell *matCellDef="let item"> {{ item.category.name }} </td>
        </ng-container>

        <!-- Slug Column Setup -->
        <ng-container matColumnDef="group">
            <th mat-header-cell *matHeaderCellDef> Grupa </th>
            <td mat-cell *matCellDef="let item"> {{ item.group.name }} </td>
        </ng-container>

        <!-- Slug Column Setup -->
        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef> Brend </th>
            <td mat-cell *matCellDef="let item"> {{ item.brand.name }} </td>
        </ng-container>

        <!-- rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"> </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
    </table>
</div>


<!-- ADD PRODUCT DIALOG -->
<div class="fixed dialog-wrapper" *ngIf="dialogIsOpen">
    <form class="form-dialog" #products="ngForm">
        <!-- header -->
        <div class="dialog-header">
            <span class="dialog-header-title"> {{dialogTitle}} </span>
            <button type="button" class="cancel-x btn btn-link" (click)="closeDialog()">
                <i class="fa fa-times "></i>
            </button>
        </div>
        <br>
        <!-- Product name -->
        <label for="">Proizvod
            <input [(ngModel)]="product.name" autofocus placeholder="Super kamera" name="name" type="text" autocomplete="off" required>
        </label>
        <!-- Product link -->
        <label for=""> Hiperlink
            <input [(ngModel)]="product.slug" placeholder="kamere-i-alarmi" name="slug" type="text" autocomplete="off" required>
        </label>
        <!-- Product description -->
        <label for="">Opis
            <input [(ngModel)]="product.description" placeholder="Opis proizvoda" autocomplete="off" name="description" type="text">
        </label>
        <!-- Product category -->
        <label for="">Kategorija
            <select [(ngModel)]="product.category._id" name="category" type="text" required>
                <option disabled value="">Izaberi kategoriju</option>
                <option *ngFor="let category of categoryList" value="{{category._id}}">{{category.name}}</option>
            </select>
        </label>
        <!-- Product group -->
        <label for="">Grupa
            <select [(ngModel)]="product.group._id" name="group" type="text" required>
                <option disabled value="">Izaberi grupu</option>
                <option *ngFor="let group of groupList" value="{{group._id}}">{{group.name}}</option>
            </select>
        </label>
        <!-- Product brand -->
        <label for="">Brend
            <select [(ngModel)]="product.brand._id" name="brand" type="text" required>
                <option disabled value="">Izaberi brend</option>
                <option *ngFor="let brand of brandList" value="{{brand._id}}">{{brand.name}}</option>
            </select>
        </label>
        <br>
        <br>
        <!-- dialog footer -->
        <div class="dialog-footer">
            <button type="button" (click)="deleteProduct(product._id, currentIndex)" class="btn btn-danger" *ngIf="dialogIsEditing">
                <i class="fa fa-trash"></i>
                Briši
            </button>
            <button type="button" (click)="closeDialog()" class="btn  btn-info">
                <i class="fa fa-ban"></i>
                Odustani
            </button>
            <button type="submit" [disabled]="!products.form.valid" class="btn btn-success" (click)="startUpload(product.slug); postProduct(product)"
                *ngIf="!dialogIsEditing">
                <i class="fa fa-check"></i>
                Snimi
            </button>
            <button type="submit" [disabled]="!products.form.valid" class="btn btn-success" (click)="putProduct(product)" *ngIf="dialogIsEditing">
                <i class="fa fa-check"></i>
                Ažuriraj
            </button>
        </div>
    </form>
</div>

<!-- ADD IMAGE DIALOG -->
<div class="fixed dialog-wrapper" *ngIf="imageDialogIsOpen">
    <form class="form-dialog image-dialog" #image="ngForm">
        <!-- header -->
        <div class="dialog-header">
            <span class="dialog-header-title"> Postavi sliku potkategorije </span>
            <!-- x -->
            <button type="button" class="cancel-x btn btn-link" (click)="closeImageDialog()">
                <i class="fa fa-times "></i>
            </button>
        </div>
        <br>
        <!-- Image -->
        <label for="image-loader" class="image-label">
            <div>
                <div>Postojeća slika</div>
                <img src="{{imageInDialog}}" alt="">
                <hr>
            </div>
            <span class="new-image-title">
                <span *ngIf="!imageholder.files[0]"> Učitaj novu sliku </span>
                <span *ngIf="imageholder.files[0]">
                    <b>{{imageholder.files[0]?.name}} </b>
                    <span *ngIf="imageholder.files[0].size < 1000000">({{imageholder.files[0]?.size / 1000 | number:'1.0-0'}} KB)</span>
                    <span *ngIf="imageholder.files[0].size > 1000000">({{imageholder.files[0]?.size / 1000000 | number:'1.1-1'}} MB)</span>
                </span>
            </span>
            <input id="image-loader" name="image" #imageholder type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
                style="display:none">
        </label>
        <hr>

        <!-- footer -->
        <div class="dialog-footer">
            <button type="button" (click)="closeImageDialog()" class="btn  btn-info">
                <i class="fa fa-ban"></i>
                Odustani
            </button>
            <button type="submit" class="btn btn-success" (click)="postImage()">
                <i class="fa fa-check"></i>
                Snimi
            </button>
        </div>
    </form>
</div>
