.delete, .delete2 {
    color: #f38787;
}
.update, .update2 {
    color: rgb(241, 187, 87);
}
.create, .create2 {
    color: rgb(142, 243, 142);
}

div {
    text-align: center;
    font-size: 18px;
    padding: 2px 20px;
}