@import "src/px-material-theme.scss";
@import "src/app/partials/_dialog.scss";

/* Navigation */
nav {
    position: fixed;
    background: $px-material-primary;
    height: 110vh;
    left: 0;
    top: 0;
    z-index: 100;
    margin: 0;
    padding: 10px 0;
    border: 2px solid $px-material-primary;
    .admin-menu {
        color: white;
        margin: 10px 0;
        padding: 0 10px;
        transition: width 0.1s ease-in-out;
        i {
            cursor: pointer;
            display: inline-block;
            text-align: right;
            width: 30px;
            padding-right: 10px;
            &:hover {
                color: darkgray;
            }
        }
    }
    a {
        display: block;
        margin: 0;
        padding: 10px;
        text-align: left;
        border-radius: 0;
        text-decoration: none;
        outline: none;
        &:focus {
            outline: none;
        }
        &:hover {
            color: rgb(165, 165, 165);
            text-decoration: none;
        }
        &.active {
            outline: none;
            background: white;
            color: $px-material-primary;
            font-weight: bold;
            &:hover {
                background: rgb(165, 165, 165);
                color: $px-material-primary;
            }
        }
        i {
            display: inline-block;
            width: 30px;
        }
    }
    .home-link {
        position: fixed;
        bottom: 20px;
    }
}

/* Transition */
.route-wrapper {
    transition: margin 0.1s ease-in-out;
}

/* Table */

.table-wrapper {
    overflow: auto;
    margin: 15px;
}

table.full-screen {
    width: calc(100% - 50px);
    min-width: 800px;
    tr {
        cursor: pointer;
        &:nth-child(even) { background: rgb(250, 250, 250); }
        &:hover { background: rgb(245, 245, 245); }
        img { height: 20px; }
    }
    b {
        background: $px-material-primary;
        font-weight: normal;
        color: white;
        padding: 5px;
        border-radius: 10%;
        font-size: 12px;
        text-align: center;
        min-width: 30px;
        margin-left: -10px;
        display: inline-block;
    }
}

.add-button {
    margin-left: 10px !important;
    @media screen and (max-width:768px) {
        height: 28px !important;
        min-width: 56px !important;
        line-height: 20px !important;
        .button-title {
            display: none;
        }
    }
}

.select-filter {
    font-size: 14px;
    float: right;
}

mat-form-field {
    margin: 0 20px;
    width: 150px;
    @media screen and (max-width: 768px) {
        margin: 0 5px;
        width: 85px;
        font-size: 14px;
    }
}

mat-toolbar {
    height: auto !important;
    padding: 5px 20px  !important;
    min-height: 70px;
    @media screen and (max-width: 768px) {
        padding: 5px  !important;
    }
}


mat-button-toggle {
    border-right: 1px solid #e7e7e7 !important;
}

mat-paginator {
    padding-right: 5%;
}

.mat-column-position {
    width: 100px;
}

.mat-column-image {
    width: 100px;
}

.mat-column-created {
    width: 150px;
}

.mat-column-category {
    width: 250px;
}

.mat-column-group {
    width: 250px;
}

.mat-column-brand {
    width: 250px;
}

.mat-column-vip {
    width: 100px;
}
