<nav id="admin-navigator"
    [ngClass]="{ 'text-centered': wideMenu !== 'open' }"
    [ngStyle]="{'text-align': wideMenu ? 'left' : 'center'}">
    <div class="admin-menu" *ngIf="windowSize !== 'small' " [ngStyle]="{ 'width': wideMenu === 'open' ? '200px' : '30px' }">
        <span *ngIf="wideMenu === 'open' ">Admin panel</span>
        <i *ngIf=" wideMenu === 'open' " (click)="togleMenu()" class="fa fa-angle-double-left float-right"></i>
        <i *ngIf=" wideMenu === 'closed'" (click)="togleMenu()" class="fa fa-angle-double-right"></i>
    </div>
    <a routerLink="/admin/pregled" routerLinkActive="active">
        <i class="fa fa-th-large"></i>
        <span *ngIf="wideMenu === 'open' ">Pregled</span>
    </a>
    <a routerLink="/admin/proizvodi" routerLinkActive="active">
        <i class="fa fa-product-hunt"></i>
        <span *ngIf="wideMenu === 'open' ">Proizvodi</span>
    </a>
    <a routerLink="/admin/grupe" routerLinkActive="active">
        <i class="fa fa-users"></i>
        <span *ngIf="wideMenu === 'open' ">Potkategorije</span>
    </a>
    <a routerLink="/admin/kategorije" routerLinkActive="active">
        <i class="fa fa-folder"></i>
        <span *ngIf="wideMenu === 'open' ">Kategorije</span>

    </a>
    <a routerLink="/admin/brendovi" routerLinkActive="active">
        <i class="fa fa-telegram"></i>
        <span *ngIf="wideMenu === 'open' ">Brendovi</span>
    </a>
    <a routerLink="/admin/galerija" routerLinkActive="active">
        <i class="fa fa-image"></i>
        <span *ngIf="wideMenu === 'open' ">Galerija</span>
    </a>
    <a routerLink="/admin/cenovnik" routerLinkActive="active">
        <i class="fa fa-euro"></i>
        <span *ngIf="wideMenu === 'open' ">Cenovnik</span>
    </a>
    <a routerLink="/" class="home-link">
        <i class="fa fa-home"></i>
        <span *ngIf="wideMenu === 'open' ">Početna</span>
    </a>
</nav>

<!-- Admin routes placeholder -->
<div class="route-wrapper" [ngStyle]="{'margin-left': wideMenu === 'open' ? '210px' : '50px'}">
    <router-outlet></router-outlet>
</div>
