@import "angular6/app/partials/_variables.scss";

.product-info {
    color: gray;
    padding: 10px 20px;
    h1 {
        padding: 10px;
        border-bottom: 2px solid $primary-color;
        font-size: 30px;
        color: $primary-color;
    }
    h5 {
        color: $third-color;
        padding: 10px;
        span {
            cursor: pointer;
            font-size: 16px;
            display: inline-block;
            padding: 2px;
            border-bottom: 1px solid white;
            &:hover {
                border-bottom: 1px solid black;
                color: gray;
            }
        }
        i {
            color: black;
            cursor: default;
            font-size: 10px;
            vertical-align: middle;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    h4 {
        font-style: italic;
        padding: 10px;
        font-size: 20px;
    }
}

.product-background {
    background: url("../../../assets/baner/banner-page.png") no-repeat top center fixed;
    background-size: cover;
    height: 200px;
}

.product-image {
    img {
        width: 300px;
        max-width: 100%;
        height: auto;
        border: 2px solid #fafafa;
        padding: 5px;
        margin-left: 20px;
        &:hover {
            transform: scale(1.1);
            background: white;
            transition: 0.2s linear;
        }
    }
}


/* Gallery */
.product-gallery {
    text-align: right;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
    h2 {
        margin-left: 10px;
        font-size: 25px;
        margin-right: 10px;
        color: $third-color;
        width: 250px;
        max-width: 90%;
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 2px solid $third-color;
    }
    .product-single {
        border-right: 1px solid lightgray;
        vertical-align: top;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        color: gray;
        display: inline-block;
        &:last-of-type {
            border-right: none;
        }
        &:hover img {
            transform: scale(1.05);
            transition: 0.2s ease-in-out;
        }
        &:hover h5 {
            color: black;
        }
    }
    img {
        width: 125px;
    }
}
