<div id="group-page" style="position: relative;">

        <!-- Background -->
        <div class="group-background">
            <h1>{{group?.name}}</h1>
        </div>

        <!-- Navigation -->
        <px-navigation-menu></px-navigation-menu>

        <!-- Category products -->
        <div class="row">

            <div class="col-md-1"></div>

            <!-- product list -->
            <div class="category-info col-sm-12 col-md-7 col-lg-8 ">
                <div class="group-products">
                    <br>
                    <div
                        *ngFor="let product of productList; let i = index"
                        class="product-single"
                        [ngStyle]="{'background': 'url(' + product.image + ') center/cover no-repeat '}"
                        (click)="goToProduct(product.slug)">
                        <h3 [innerHtml]="product.name"></h3>
                    </div>
                    <p class="no-results" *ngIf="productList.length === 0">
                        Nema ubačenih proizvoda za ovu kategoriju
                    </p>
                </div>
            </div>

            <!-- Side Menu -->
            <div class="col-sm-12 col-md-4 col-lg-3 sidebar">
                <!-- groups -->
                <ul class="list">
                    <li class="headline" (click)="goToProducts()">Sve kategorije</li>
                    <li class="category"
                        *ngFor="let cat of categoryList; let i = index"
                        (click)="goToCategory(cat.slug)">
                        <ng-container>
                            {{cat.name}}
                        </ng-container>
                    </li>
                </ul>
            </div>

        </div>


        <br>

    </div>
