<div class="navigation">
    <ng-container *ngFor="let item of navItems">
        <button
            *ngIf="item.id * 170 + 100 < actualWidth"
            mat-button
            [routerLink]="item.link"
            routerLinkActive="nav-active">
            <mat-icon>{{item.icon}}</mat-icon>
            {{item.name}}
        </button>
    </ng-container>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu" *ngIf="actualWidth <= 1100">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
        <ng-container *ngFor="let item of navItems">
            <button
                *ngIf="item.id * 170 + 100 >= actualWidth"
                mat-menu-item
                [routerLink]="item.link"
                routerLinkActive="nav-active">
                <mat-icon>{{item.icon}}</mat-icon>
                <span>{{item.name}}</span>
            </button>
        </ng-container>
    </mat-menu>
</div>
