<div class="navigation">
    <button mat-button routerLink="/pocetna" routerLinkActive="nav-active">
        <mat-icon>home</mat-icon>
        Početna
    </button>
    <button mat-button routerLink="/kategorije" routerLinkActive="nav-active">
        <mat-icon>layers</mat-icon>
        Proizvodi
    </button>
    <button mat-button routerLink="/kontakt" routerLinkActive="nav-active">
        <mat-icon>phone</mat-icon>
        Kontakt
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item>
            <mat-icon>assignment</mat-icon>
            <span>Cenovnik</span>
        </button>
        <button mat-menu-item>
            <mat-icon>build</mat-icon>
            <span>Servis</span>
        </button>
        <button mat-menu-item>
            <mat-icon>photo_library </mat-icon>
            <span>Galerija</span>
        </button>
        <button mat-menu-item>
            <mat-icon>assignment_ind</mat-icon>
            <span>O nama</span>
        </button>
    </mat-menu>
</div>
