<!-- TOOLBAR  -->

<mat-toolbar class="row">
        <!-- Page title -->
        <div class="col-sm-12 col-lg-6">
            Lista kategorija
            <button class="add-button" mat-raised-button color="primary" (click)="openDialog(false)">
                <mat-icon>add</mat-icon>
                <span class="button-title">Dodaj kategoriju</span>
            </button>
        </div>
    </mat-toolbar>

    <!-- TABLE -->
    <div class="table-wrapper">
        <table mat-table matSort [dataSource]="dataSource" class="full-screen"  >
            <!-- Position Column Setup -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>
                    <b>{{ categoryList.length || 0 }}</b>
                </th>
                <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
            </ng-container>

            <!-- Image Column Setup -->
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Slika </th>
                <td mat-cell *matCellDef="let item, let i = index" (click)="openImageDialog($event, i)">
                    <img *ngIf="item.image" src="{{item.image}}">
                    <img *ngIf="!item.image" src="./assets/default_images/default-product.jpg">
                </td>
            </ng-container>

            <!-- Name Column Setup -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> Naziv </th>
                <td mat-cell *matCellDef="let item"> {{ item.name }} </td>
            </ng-container>

            <!-- Slug Column Setup -->
            <ng-container matColumnDef="slug">
                <th mat-header-cell *matHeaderCellDef> Slug </th>
                <td mat-cell *matCellDef="let item"> {{ item.slug }} </td>
            </ng-container>

            <!-- Description Column Setup -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Opis </th>
                <td mat-cell *matCellDef="let item">
                    <span style="white-space: pre-wrap;">{{ item.description }} </span>
                </td>
            </ng-container>

            <!-- Created At Column Steup -->
            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum kreiranja </th>
                <td mat-cell *matCellDef="let item">
                    <span>{{ item.createdAt | date: 'dd. MM. yyyy' }} </span>
                </td>
            </ng-container>

            <!-- rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns;"> </tr>
            <tr mat-row
                *matRowDef="let row; let i = index;columns: displayedColumns;"
                (click)="openDialog(true, row, i)">
            </tr>
        </table>
    </div>

    <mat-paginator
        #paginator
        [pageSize] = "10"
        [pageSizeOptions] =  "[5, 10, 20, 50]"
        [showFirstLastButtons] = "smallScreen() ? false : true">
    </mat-paginator>

    <!-- ADD/EDIT DIALOG -->
    <div class="fixed dialog-wrapper" *ngIf="isAddDialogOpen" (click)="isAddDialogOpen = false">

        <form class="form-dialog" #categories="ngForm" (click)="$event.stopPropagation()">
            <!-- header -->
            <div class="dialog-header">
                <span class="dialog-header-title"> {{dialogTitle}} </span>
                <button type="button" class="cancel-x btn btn-link" (click)="closeDialog($event)">
                    <i class="fa fa-times "></i>
                </button>
            </div>
            <br>
            <!-- Name -->
            <mat-form-field>
                <input
                    matInput [(ngModel)]="category.name" placeholder="Naziv kategorije" name="name" type="text"
                    autocomplete="off" required>
            </mat-form-field>

            <!-- Slug -->
            <mat-form-field>
                <input
                    matInput [(ngModel)]="category.slug" placeholder="Link ka kategoriji" name="slug" type="text"
                    autocomplete="off" required>
            </mat-form-field>

            <!-- Description -->
            <mat-form-field>
                <textarea
                    matInput [(ngModel)]="category.description" placeholder="Opis kategorije" name="description"
                    type="text" autocomplete="off" required></textarea>
            </mat-form-field>

            <br>
            <br>
            <!-- dialog footer -->
            <div class="dialog-footer">
                <mat-button-toggle-group #group="matButtonToggleGroup">
                    <mat-button-toggle class="delete-item"
                        (click)="deleteCategory(category._id, currentIndex, $event)" *ngIf="isDialogEditing">
                        Obriši
                    </mat-button-toggle>
                    <mat-button-toggle class="cancel-item" (click)="closeDialog($event)">
                        Odustani
                    </mat-button-toggle>
                    <mat-button-toggle class="save-item" [disabled]="!categories.form.valid"
                        (click)="postCategory(category, $event)"
                        *ngIf="!isDialogEditing">
                        Sačuvaj
                    </mat-button-toggle>
                    <mat-button-toggle class="update-item" [disabled]="!categories.form.valid"
                        (click)="putCategory(category, $event)" *ngIf="isDialogEditing">
                        Ažuriraj
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </form>
    </div>

    <!-- IMAGE DIALOG -->
    <div class="fixed dialog-wrapper" *ngIf="isImageDialogOpen">
        <form class="form-dialog image-dialog" #image="ngForm">
            <!-- header -->
            <div class="dialog-header">
                <span class="dialog-header-title"> Postavi sliku </span>
                <!-- x -->
                <button type="button" class="cancel-x btn btn-link" (click)="closeImageDialog()">
                    <i class="fa fa-times "></i>
                </button>
            </div>
            <br>

            <!-- Image Preview -->
            <div class="image-preview" *ngIf="imagePreview && imagePreview !== ''">
                <img [src]="imagePreview" (click)="filePicker.click()">
            </div>

            <!-- Image Upload -->
            <div>
                <button
                    mat-raised-button
                    color="accent"
                    type="button"
                    (click)="filePicker.click()">
                    <span *ngIf="imageFile">
                        {{ imageFile.name }}
                        ({{ imageFile.size / 1000 | number:'1.0-0'  }} MB)
                    </span>
                    <span *ngIf="!imageFile">Izaberi fotografiju</span>
                </button>
                <input
                    type="file"
                    #filePicker
                    (change)="onImagePicked($event)"
                    style="display: none">
            </div>
            <br>

            <!-- dialog footer -->
            <div class="dialog-footer">
                <mat-button-toggle-group #group="matButtonToggleGroup">
                    <mat-button-toggle class="cancel-item" (click)="closeImageDialog()">
                        Odustani
                    </mat-button-toggle>
                    <mat-button-toggle class="save-item" (click)="postImage()">
                        Sačuvaj
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </form>
    </div>
