<!-- Page title  -->
<h2 class="page-title"> ElectroVision - Kategorije </h2>

<!-- Category List -->
<div class="table-wrapper">
    <div class="headline">
        Ukupno rezultata:
        <span>{{categoryList.length || 0}}</span>
        <button (click)="openDialog(false)" class="btn btn-plus" title="Dodaj novu kategoriju">
            <i class="fa fa-plus mr5"></i> Dodaj novu kategoriju
        </button>
    </div>
    <div class="list row">
        <div class="col-md-12 col-lg-6" *ngFor="let cat of categoryList; let i = index">
            <div class="list-item">
                <h4 class="trim" (click)="openDialog(true, cat, i)">
                    {{cat.name}}
                </h4>
                <img (click)="openImageDialog(i)" *ngIf="cat.image" src="{{cat.image}}">
                <img (click)="openImageDialog(i)" *ngIf="!cat.image" src="./assets/default_images/default-product.jpg">
                <div class="item-info">
                    <span class="slug-line trim"> kategorija/{{cat.slug}} </span>
                    <p class="trim-block-3"> Opis: {{cat.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD CATEGORY DIALOG -->
<div class="fixed dialog-wrapper" *ngIf="dialogIsOpen">
    <form class="form-dialog" #categories="ngForm">
      <!-- header -->
      <div class="dialog-header">
        <span class="dialog-header-title"> {{dialogTitle}}  </span>
        <button type="button"  class="cancel-x btn btn-link" (click)="closeDialog()">
          <i class="fa fa-times "></i>
        </button>
      </div>
      <br>
      <!-- Category name -->
      <label for="">Kategorija
        <input [(ngModel)]="category.name" autofocus placeholder="Naziv kategorije" name="name" type="text" required>
      </label>
      <!-- Category link -->
      <label for="">Link
        <input [(ngModel)]="category.slug" placeholder="naziv-kategorije" name="slug" type="text" required>
      </label>
      <!-- Category description -->
      <label for="">Opis
        <input [(ngModel)]="category.description" placeholder="Opis kategorije" name="description" type="text">
      </label>
      <br>
      <br>
      <!-- footer -->
      <div class="dialog-footer">
        <button type="button" (click)="deleteCategory(category._id, currentIndex)" class="btn btn-danger" *ngIf="dialogIsEditing">
          <i class="fa fa-trash"></i>
          Briši
        </button>
        <button type="button" (click)="closeDialog()" class="btn btn-info">
          <i class="fa fa-ban"></i>
          Odustani
        </button>
        <button type="submit" [disabled]="!categories.valid" class="btn btn-success" (click)="postCategory(category)" *ngIf="!dialogIsEditing">
          <i class="fa fa-check"></i>
          Snimi
        </button>
        <button type="submit" [disabled]="!categories.valid" class="btn btn-success" (click)="putCategory(category)" *ngIf="dialogIsEditing">
          <i class="fa fa-check"></i>
          Ažuriraj
        </button>
      </div>
    </form>
  </div>

<!-- ADD IMAGE DIALOG -->
<div class="fixed dialog-wrapper" *ngIf="imageDialogIsOpen">
    <form class="form-dialog image-dialog" #image="ngForm">
        <!-- header -->
        <div class="dialog-header">
            <span class="dialog-header-title"> Postavi sliku kategorije </span>
            <!-- x -->
            <button type="button" class="cancel-x btn btn-link" (click)="closeImageDialog()">
                <i class="fa fa-times "></i>
            </button>
        </div>
        <br>
        <!-- Image -->
        <label for="image-loader" class="image-label">
            <div>
                <div>Postojeća slika</div>
                <img src="{{imageInDialog}}" alt="">
                <hr>
            </div>
            <span class="new-image-title">
                <span *ngIf="!imageholder.files[0]"> Učitaj novu sliku </span>
                <span *ngIf="imageholder.files[0]">
                    <b>{{imageholder.files[0]?.name}} </b>
                    <span *ngIf="imageholder.files[0].size < 1000000">({{imageholder.files[0]?.size / 1000 | number:'1.0-0'}} KB)</span>
                    <span *ngIf="imageholder.files[0].size > 1000000">({{imageholder.files[0]?.size / 1000000 | number:'1.1-1'}} MB)</span>
                </span>
            </span>
            <input id="image-loader" name="image" #imageholder type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
                style="display:none">
        </label>
        <hr>

        <!-- footer -->
        <div class="dialog-footer">
            <button type="button" (click)="closeImageDialog()" class="btn  btn-info">
                <i class="fa fa-ban"></i>
                Odustani
            </button>
            <button type="submit" class="btn btn-success" (click)="postImage()">
                <i class="fa fa-check"></i>
                Snimi
            </button>
        </div>
    </form>
</div>

