

<!-- Map -->
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<!-- Navigation -->
<px-navigation-menu></px-navigation-menu>

<!-- Info -->
<div class="row">
    <div class="col-md-12 contact-info">
        <h3> Kontakt informacije

        </h3>
        <br>
        <div class="inline-block">
            <p>
                <span> Adresa:</span>
                <span>Jurija Gagarina 12a, 34000 Kragujevac</span>
            </p>
            <p>
                <span> Telefon:</span>
                <span>064 306 95 92</span>
            </p>
            <p>
                <span> Email: </span>
                <span>electro.vision@gmail.com </span>
            </p>
        </div>
    </div>
</div>
