<!-- TOOLBAR  -->

<mat-toolbar class="row">
    <!-- Page title -->
    <div class="col-sm-12 col-lg-6">
        Cenovnik
        <button class="add-button" mat-raised-button color="primary" (click)="openDialog(false)">
            <mat-icon>add</mat-icon>
            <span class="button-title">Dodaj novu stavku</span>
        </button>
    </div>
</mat-toolbar>

<!-- TABLE -->
<div class="table-wrapper">
    <table mat-table matSort [dataSource]="dataSource" class="full-screen"  >
        <!-- Position Column Setup -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>
                <b>{{ pricelist?.length || 0 }}</b>
            </th>
            <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
        </ng-container>


        <!-- Name Column Setup -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Naziv </th>
            <td mat-cell *matCellDef="let item"> {{ item.name }} </td>
        </ng-container>

        <!-- Description Column Setup -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Opis </th>
            <td mat-cell *matCellDef="let item">
                <span style="white-space: pre-wrap;">{{ item.description }} </span>
            </td>
        </ng-container>

        <!-- Price Column Setup -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Cena </th>
            <td mat-cell *matCellDef="let item">
                <span style="white-space: pre-wrap;">{{ item.price }} </span>
            </td>
        </ng-container>

        <!-- Created At Column Steup -->
        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum kreiranja </th>
            <td mat-cell *matCellDef="let item">
                <span>{{ item.createdAt | date: 'dd. MM. yyyy' }} </span>
            </td>
        </ng-container>

        <!-- rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"> </tr>
        <tr mat-row
            *matRowDef="let row; let i = index;columns: displayedColumns;"
            (click)="openDialog(true, row, i)">
        </tr>
    </table>
</div>

<mat-paginator
    #paginator
    [pageSize] = "10"
    [pageSizeOptions] =  "[5, 10, 20, 50]"
    [showFirstLastButtons] = "windowSize !== 'small' ">
</mat-paginator>

<!-- ADD/EDIT DIALOG -->
<div class="fixed dialog-wrapper" *ngIf="isAddDialogOpen" (click)="isAddDialogOpen = false">

    <form class="form-dialog" #pricelists="ngForm" (click)="$event.stopPropagation()">
        <!-- header -->
        <div class="dialog-header">
            <span class="dialog-header-title"> {{dialogTitle}} </span>
            <button type="button" class="cancel-x btn btn-link" (click)="closeDialog($event)">
                <i class="fa fa-times "></i>
            </button>
        </div>
        <br>
        <!-- Name -->
        <mat-form-field>
            <input
                matInput [(ngModel)]="pricelist.name" placeholder="Naziv" name="name" type="text"
                autocomplete="off" required>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field>
            <textarea
                matInput [(ngModel)]="pricelist.description" placeholder="Opis" name="description"
                type="text" autocomplete="off" required></textarea>
        </mat-form-field>

        <!-- Price -->
        <mat-form-field>
            <textarea
                matInput [(ngModel)]="pricelist.price" placeholder="Cena" name="price"
                type="text" autocomplete="off" required></textarea>
        </mat-form-field>

        <br>
        <br>
        <!-- dialog footer -->
        <div class="dialog-footer">
            <mat-button-toggle-group #group="matButtonToggleGroup">
                <mat-button-toggle class="delete-item"
                    (click)="deletePricelist(pricelist._id, $event)" *ngIf="isDialogEditing">
                    Obriši
                </mat-button-toggle>
                <mat-button-toggle class="cancel-item" (click)="closeDialog($event)">
                    Odustani
                </mat-button-toggle>
                <mat-button-toggle class="save-item" [disabled]="!pricelists.form.valid"
                    (click)="postPricelist(pricelist, $event)"
                    *ngIf="!isDialogEditing">
                    Sačuvaj
                </mat-button-toggle>
                <mat-button-toggle class="update-item" [disabled]="!pricelists.form.valid"
                    (click)="putPricelist(pricelist, $event)" *ngIf="isDialogEditing">
                    Ažuriraj
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </form>
</div>
